@import "reset.css";
@import "variables.css";

/* components */
@import "components/status-bar.css";
@import "components/user-component.css";
@import "components/nav-bar.css";
@import "components/screen-header.css";
@import "components/badge.css";
@import "components/icon-row.css";
@import "components/alt-screen-header.css";
/* screen */
@import "screen/login.css";
@import "screen/friends.css";
@import "screen/find.css";
@import "screen/more.css";
@import "screen/settings.css";
@import "screen/chat.css";

body {
  color: #2e363e;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  height: 100vh;
}

.main-screen {
  padding: 0px var(--horizontal-space);
}
