@import "reset.css";
@import "variables.css";

/* components */
@import "components/status-bar.css";

/* screen */
@import "screen/login.css";
@import "screen/friends.css";

/* nav */
@import "components/nav-bar.css";

/* header */
@import "components/screen-header.css";

body {
  color: #2e363e;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  height: 1000vh;
}
