.friends-display-link {
  text-align: center;
  display: block;
  background-color: #fafafa;
  padding: 15px 0px;
  border-radius: 5px;
}

.friends-display-link i {
  color: rgba(0, 0, 0, 0.2);
}

.fa-info-circle {
  margin-right: 5px;
}

.fa-chevron-right {
  margin-left: 7px;
}

.friends-screen__channel {
  border-top: var(--main-border);
  padding-top: 15px;
}

.friends-screen__channel-header {
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  color: rgba(0, 0, 0, 0.5);
}
