.nav {
  position: fixed;
  bottom: 0px;
  width: 100%;
  background-color: #f9f9fa;
  padding: 20px 45px;
  box-sizing: border-box;

  border-top: 2px solid rgba(196, 196, 196, 0.3);
}

.nav__list {
  display: flex;
  justify-content: space-between;
}

.nav__link {
  position: relative;
  color: inherit;
}

.nav__notification {
  position: absolute;
  left: 20px;
  bottom: 15px;
}
