.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--horizontal-space);
  padding-top: 50px;
  margin-bottom: 10px;
}

.screen-header__title {
  font-size: 32px;
  font-weight: 500;
}

.screen-header__icons span {
  margin-left: 30px;
}
