.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  padding-top: 50px;
}

.screen-header__title {
  font-size: 30px;
  font-weight: 500;
}

.screen-header__icons span {
  margin-left: 30px;
}
