.status-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  background-color: white;
  padding: 5px 0px;
}

.status-bar__column {
  width: 33%;
  display: flex;
}

.status-bar__column:first-child {
  margin-right: auto;
  padding-left: 5px;
}

.status-bar__column:nth-child(2) {
  display: flex;
  justify-content: center;
}

.status-bar__column:last-child {
  justify-content: flex-end;
  margin-left: auto;
  padding-right: 5px;
}

.status-bar__column i {
  padding-left: 5px;
}
